<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Group 10</title>
</head>
<body>
   <p th:each="member : ${teamMembers}">
   		<a th:href="@{'/member/' + ${member.name}}">
    		<img th:src="@{'/images/' + ${member.imageName}}" th:alt="${member.name}">
    	</a>
   </p>	
   <p>Lorem ipsum dolor sit amet. Qui internos maiores non 
   fugiat deserunt cum officiis adipisci in aliquid natus aut quisquam 
   ullam est distinctio autem est explicabo excepturi. Sed dolore quod 
   sit dolorem optio et laudantium exercitationem aut atque omnis ut 
   sapiente sequi ut officia dolor. Et placeat soluta At earum voluptas 
   ut quae officia. Ut sint mollitia in illum cumque vel quos consequatur ex 
   nesciunt error? Sit laudantium velit nam enim enim non rerum iusto et quibusdam molestias? 
   Id dolor libero aut galisum consequatur id dolorem dolore et soluta alias et rerum 
   ipsum eum iste laborum ea aliquam omnis. Ab nesciunt commodi nam repellat quas
   non rerum eius. Aut ipsum incidunt et voluptas rerum aut Quis natus est delectus 
   repellat vel amet voluptatum est voluptatem odio.Aut iure delectus nam sapiente adipisci
   et velit repellendus. Non velit fugit ut nemo veritatis et fuga odio et soluta temporibus. 
   Eos nisi error At tempore libero qui corrupti veniam ab veniam necessitatibus 
   et corporis ipsum sed repellat asperiores. Qui galisum omnis nam internos 
   molestias est asperiores dolores vel magni blanditiis qui dicta consectetur est quis nihil.
   </p>	
</body>
</html>